.container {
    background-color: var(--color-header);

    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    width: 100vw;
    height: 60px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.link {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.link>svg {
    font-size: 18px;
    margin-right: 5px;
    align-items: flex-start;
}

.selected {
    color: #2050ce;
}